## Table of contents

### 01. Importing data
### 02. Checking data
### 03. Wrangling data
### 04. Concatenating data
### 05. Checking consistency
#### Mixed data types
#### Missing values
##### Checking missing values
##### Adressing missing values
#### Duplicated values
### 06. Exporting data

## Importing libraries

In [1]:
# Import libraries

import pandas as pd
import numpy as np
import os

## 01. Importing data

In [2]:
# Create folder path

path = r'/Users/edytakowal/Desktop/CareerFoundry/2. Data Immersion/6. Advanced Analytics & Dashboard Design/World_Happiness_Report'

In [3]:
# Import dataframes
df_2015 = pd.read_csv(os.path.join(path, 'Data', 'Oryginal Data', 'WHR_2015.csv'), index_col = False)
df_2016 = pd.read_csv(os.path.join(path, 'Data', 'Oryginal Data', 'WHR_2016.csv'), index_col = False)
df_2017 = pd.read_csv(os.path.join(path, 'Data', 'Oryginal Data', 'WHR_2017.csv'), index_col = False)
df_2018 = pd.read_csv(os.path.join(path, 'Data', 'Oryginal Data', 'WHR_2018.csv'), index_col = False)
df_2019 = pd.read_csv(os.path.join(path, 'Data', 'Oryginal Data', 'WHR_2019.csv'), index_col = False)
df_2020 = pd.read_csv(os.path.join(path, 'Data', 'Oryginal Data', 'WHR_2020.csv'), index_col = False)
df_2021 = pd.read_csv(os.path.join(path, 'Data', 'Oryginal Data', 'WHR_2021.csv'), index_col = False)
df_2022 = pd.read_csv(os.path.join(path, 'Data', 'Oryginal Data', 'WHR_2022.csv'), index_col = False)
df_2023 = pd.read_csv(os.path.join(path, 'Data', 'Oryginal Data', 'WHR_2023.csv'), index_col = False)

## 02. Checking data

In [4]:
# Check dimension of data frames
print(df_2015.shape)
print(df_2016.shape)
print(df_2017.shape)
print(df_2018.shape)
print(df_2019.shape)
print(df_2020.shape)
print(df_2021.shape)
print(df_2022.shape)
print(df_2023.shape)

(158, 9)
(157, 9)
(155, 9)
(156, 9)
(156, 9)
(153, 9)
(149, 9)
(146, 9)
(137, 9)

In [5]:
# Check colum names

print(df_2020.columns)
print(df_2021.columns)
print(df_2022.columns)
print(df_2023.columns)

Index(['country', 'region', 'happiness_score', 'gdp_per_capita',
       'social_support', 'healthy_life_expectancy',
       'freedom_to_make_life_choices', 'generosity',
       'perceptions_of_corruption'],
      dtype='object')
Index(['country', 'region', 'happiness_score', 'gdp_per_capita',
       'social_support', 'healthy_life_expectancy',
       'freedom_to_make_life_choices', 'generosity',
       'perceptions_of_corruption'],
      dtype='object')
Index(['country', 'region', 'happiness_score', 'gdp_per_capita',
       'social_support', 'healthy_life_expectancy',
       'freedom_to_make_life_choices', 'generosity',
       'perceptions_of_corruption'],
      dtype='object')
Index(['country', 'region', 'happiness_score', 'gdp_per_capita',
       'social_support', 'healthy_life_expectancy',
       'freedom_to_make_life_choices', 'generosity',
       'perceptions_of_corruption'],
      dtype='object')

## 03. Wrangling data

In [6]:
# Create new Year column for each df

df_2015['year'] = '2015'
df_2016['year'] = '2016'
df_2017['year'] = '2017'
df_2018['year'] = '2018'
df_2019['year'] = '2019'
df_2020['year'] = '2020'
df_2021['year'] = '2021'
df_2022['year'] = '2022'
df_2023['year'] = '2023'

In [7]:
# Create new column Happines rank

# Sort the values in decending order

df_2015 = df_2015.sort_values(by = 'happiness_score', ascending=False).reset_index(drop=True)
df_2016 = df_2016.sort_values(by = 'happiness_score', ascending=False).reset_index(drop=True)
df_2017 = df_2017.sort_values(by = 'happiness_score', ascending=False).reset_index(drop=True)
df_2018 = df_2018.sort_values(by = 'happiness_score', ascending=False).reset_index(drop=True)
df_2019 = df_2019.sort_values(by = 'happiness_score', ascending=False).reset_index(drop=True)
df_2020 = df_2020.sort_values(by = 'happiness_score', ascending=False).reset_index(drop=True)
df_2021 = df_2021.sort_values(by = 'happiness_score', ascending=False).reset_index(drop=True)
df_2022 = df_2022.sort_values(by = 'happiness_score', ascending=False).reset_index(drop=True)
df_2023 = df_2023.sort_values(by = 'happiness_score', ascending=False).reset_index(drop=True)

In [8]:
# Set a new column happiness_rank

df_2015['happiness_rank'] = df_2015.index + 1
df_2016['happiness_rank'] = df_2016.index + 1
df_2017['happiness_rank'] = df_2017.index + 1
df_2018['happiness_rank'] = df_2018.index + 1
df_2019['happiness_rank'] = df_2019.index + 1
df_2020['happiness_rank'] = df_2020.index + 1
df_2021['happiness_rank'] = df_2021.index + 1
df_2022['happiness_rank'] = df_2022.index + 1
df_2023['happiness_rank'] = df_2023.index + 1

In [9]:
df_2015.columns

Index(['country', 'region', 'happiness_score', 'gdp_per_capita',
       'social_support', 'healthy_life_expectancy',
       'freedom_to_make_life_choices', 'generosity',
       'perceptions_of_corruption', 'year', 'happiness_rank'],
      dtype='object')

In [10]:
df_2023.head()

,country,region,happiness_score,gdp_per_capita,social_support,healthy_life_expectancy,freedom_to_make_life_choices,generosity,perceptions_of_corruption,year,happiness_rank
0,Finland,Western Europe,7.804,1.888,1.585,0.535,0.772,0.126,0.535,2023,1
1,Denmark,Western Europe,7.586,1.949,1.548,0.537,0.734,0.208,0.525,2023,2
2,Iceland,Western Europe,7.530,1.926,1.620,0.559,0.738,0.250,0.187,2023,3
3,Israel,Middle East and North Africa,7.473,1.833,1.521,0.577,0.569,0.124,0.158,2023,4
4,Netherlands,Western Europe,7.403,1.942,1.488,0.545,0.672,0.251,0.394,2023,5

In [11]:
# Set the Country column as the index column for all DataFrames

df_2015 = df_2015.set_index('country')
df_2016 = df_2016.set_index('country')
df_2017 = df_2017.set_index('country')
df_2018 = df_2018.set_index('country')
df_2019 = df_2019.set_index('country')
df_2020 = df_2020.set_index('country')
df_2021 = df_2021.set_index('country')
df_2022 = df_2022.set_index('country')
df_2023 = df_2023.set_index('country')

## 04. Concatenating data

In [12]:
df = pd.concat([df_2015, df_2016, df_2017, df_2018, df_2019, df_2020, df_2021, df_2022, df_2023])
print(df.shape)
df.head()

(1367, 10)

,region,happiness_score,gdp_per_capita,social_support,healthy_life_expectancy,freedom_to_make_life_choices,generosity,perceptions_of_corruption,year,happiness_rank
country,,,,,,,,,,
Switzerland,Western Europe,7.587,1.39651,1.34951,0.94143,0.66557,0.29678,0.41978,2015,1
Iceland,Western Europe,7.561,1.30232,1.40223,0.94784,0.62877,0.43630,0.14145,2015,2
Denmark,Western Europe,7.527,1.32548,1.36058,0.87464,0.64938,0.34139,0.48357,2015,3
Norway,Western Europe,7.522,1.45900,1.33095,0.88521,0.66973,0.34699,0.36503,2015,4
Canada,North America and ANZ,7.427,1.32629,1.32261,0.90563,0.63297,0.45811,0.32957,2015,5

## 05. Consistency checks

#### Mixed data types

In [13]:
# Check data types of columns

df.dtypes

region                           object
happiness_score                 float64
gdp_per_capita                  float64
social_support                  float64
healthy_life_expectancy         float64
freedom_to_make_life_choices    float64
generosity                      float64
perceptions_of_corruption       float64
year                             object
happiness_rank                    int64
dtype: object

In [14]:
# Check df for mixed types 

for col in df.columns.tolist():
  weird = (df[[col]].applymap(type) != df[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df[weird]) > 0:
    print (col)

In [15]:
# Check data types of columns

df.dtypes

region                           object
happiness_score                 float64
gdp_per_capita                  float64
social_support                  float64
healthy_life_expectancy         float64
freedom_to_make_life_choices    float64
generosity                      float64
perceptions_of_corruption       float64
year                             object
happiness_rank                    int64
dtype: object

In [16]:
# Change 'year' data type

df['year'] = df['year'].astype(int)

#### Missing values

In [17]:
# Check for missing values

df.isnull().sum()

region                          0
happiness_score                 0
gdp_per_capita                  0
social_support                  0
healthy_life_expectancy         1
freedom_to_make_life_choices    0
generosity                      0
perceptions_of_corruption       1
year                            0
happiness_rank                  0
dtype: int64

In [18]:
# Check the missing values

df[df['healthy_life_expectancy'].isna()]

,region,happiness_score,gdp_per_capita,social_support,healthy_life_expectancy,freedom_to_make_life_choices,generosity,perceptions_of_corruption,year,happiness_rank
country,,,,,,,,,,
State of Palestine,Middle East and North Africa,4.908,1.144,1.309,NaN,0.416,0.065,0.067,2023,99

In [19]:
df[df.index == 'State of Palestine']

,region,happiness_score,gdp_per_capita,social_support,healthy_life_expectancy,freedom_to_make_life_choices,generosity,perceptions_of_corruption,year,happiness_rank
country,,,,,,,,,,
State of Palestine,Middle East and North Africa,4.908,1.144,1.309,NaN,0.416,0.065,0.067,2023,99

In [20]:
# Palestine apears only in 2023 so i will drop this line 

df = df.drop('State of Palestine')

In [23]:
df[df['perceptions_of_corruption'].isna()]

,region,happiness_score,gdp_per_capita,social_support,healthy_life_expectancy,freedom_to_make_life_choices,generosity,perceptions_of_corruption,year,happiness_rank
country,,,,,,,,,,
United Arab Emirates,Middle East and North Africa,6.774,2.096,0.776,0.67,0.284,0.186,NaN,2018,20

In [24]:
df[df.index == 'United Arab Emirates']

,region,happiness_score,gdp_per_capita,social_support,healthy_life_expectancy,freedom_to_make_life_choices,generosity,perceptions_of_corruption,year,happiness_rank
country,,,,,,,,,,
United Arab Emirates,Middle East and North Africa,6.9010,1.427270,1.125750,0.809250,0.641570,0.264280,0.385830,2015,20
United Arab Emirates,Middle East and North Africa,6.5730,1.573520,0.871140,0.729930,0.562150,0.265910,0.355610,2016,28
United Arab Emirates,Middle East and North Africa,6.6480,1.626343,1.266410,0.726798,0.608345,0.360942,0.324490,2017,21
United Arab Emirates,Middle East and North Africa,6.7740,2.096000,0.776000,0.670000,0.284000,0.186000,NaN,2018,20
United Arab Emirates,Middle East and North Africa,6.8250,1.503000,1.310000,0.825000,0.598000,0.262000,0.182000,2019,21
United Arab Emirates,Middle East and North Africa,6.7908,1.431086,1.251171,0.787814,0.652936,0.280656,0.220214,2020,21
United Arab Emirates,Middle East and North Africa,6.5610,1.555000,0.860000,0.594000,0.670000,0.236000,0.223000,2021,25
United Arab Emirates,Middle East and North Africa,6.5760,1.998000,0.980000,0.633000,0.702000,0.204000,0.250000,2022,24
United Arab Emirates,Middle East and North Africa,6.5710,2.015000,1.223000,0.401000,0.745000,0.188000,0.247000,2023,26

In [26]:
mean = df.loc[df.index == 'United Arab Emirates', 'perceptions_of_corruption'].mean()

df.loc[(df.index == 'United Arab Emirates') & (df['year'] == 2018), 'perceptions_of_corruption'] = mean

df['corruption_perceptions'].fillna(mean, inplace=True)

KeyError: 'corruption_perceptions'

In [27]:
# Check for missing values

df.isnull().sum()

region                          0
happiness_score                 0
gdp_per_capita                  0
social_support                  0
healthy_life_expectancy         0
freedom_to_make_life_choices    0
generosity                      0
perceptions_of_corruption       0
year                            0
happiness_rank                  0
dtype: int64

#### Duplicated values

In [28]:
# Check for duplicated values

df_dups = df[df.duplicated()]
df_dups

Empty DataFrame
Columns: [region, happiness_score, gdp_per_capita, social_support, healthy_life_expectancy, freedom_to_make_life_choices, generosity, perceptions_of_corruption, year, happiness_rank]
Index: []

In [29]:
# Change column names for consistency

df = df.rename(columns = {'perceptions_of_corruption' : 'corruption_perceptions'})

## 06. Exporting data

In [30]:
df.to_csv(os.path.join(path, 'Data', 'Prepared Data', '2015-2023.csv'))